/// GeoCat brand primary variables override

$geocat-light-blue: #0092ff !default;  // GeoCat website light blue
$geocat-dark-blue: #29265F !default;  // GeoCat website dark blue
$geocat-light-gray: #f8f7fa !default;  // GeoCat website light gray

$o-enterprise-color: $geocat-light-blue !default;
$o-enterprise-action-color: $geocat-light-blue !default;

$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-enterprise-color !default;

$o-action: $o-enterprise-action-color !default;
$o-main-link-color: $o-enterprise-action-color !default;

// GeoCat font override (replaces Segoe UI with Inter)
$o-system-fonts: (-apple-system, BlinkMacSystemFont, Inter, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji") !default;
